<p id="notice"><%= notice %></p>

<p>
  <strong>Method:</strong>
  <%= @request.method %>
</p>

<p>
  <strong>Path:</strong>
  <%= @request.path %>
</p>

<p>
  <strong>Host:</strong>
  <%= @request.host %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @request.ip %>
</p>

<p>
  <strong>Server name:</strong>
  <%= @request.server_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
